<p style="color: green"><%= notice %></p>

<h1><%= @project.name %></h1>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <hr>

  <h2>Api keys</h2>
  <% @project.api_keys.each do |key| %>
    <div>
      <%= key.identity %> | <%= key.domain %>

      <%= button_to "Destroy", key, method: :delete %>
    </div>
  <% end %>

  <%= form_with model: Api::Key.new, url: api_keys_path, method: :post, local: true do |form| %>
    <%= form.hidden_field :project_id, value: @project.id %>

    <%= form.label :domain, "Domain" %>
    <%= form.text_field :domain, required: true %>

    <%= form.submit "Create API Key" %>
  <% end %>

  <hr>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
